extends lib/layouts/default

block head
  title Demo page
  style.
    .inline { list-style-type: none; display: flex; align-items: center }
    .inline li + li { margin-left: 1em }
  import(from='main.js')

block body
  fieldset
    legend Sprites

    p Example:
    pre.
      &lt;icon src="emojis/pkg" /&gt;
      {&#64;icon src="emojis/bomb" title="La bomba!"}}

    p Result:
    ul.inline
      li: icon(src='emojis/pkg')
      li {@icon src="emojis/bomb" title="La bomba!"}

    p Notice the usage of alternate syntax `{&#64;fn x=y ...}`

  fieldset
    legend Images

    p Example:
    pre.
      &lt;image src="12inches_small" title="OSOMS" /&gt;

    p Result:
    ul.inline
      li: image(src='12inches_small' title='OSOMS')

    p The placed image is using `srcset`, also it should fade in onload...

  fieldset
    legend Icons

    p Example:
    pre.
      &lt;import from="sprites/bug" style="fill:red" /&gt;
      &lt;icon src="sprites.svg#bug" width="48" height="48" style="fill:green" /&gt;
      &lt;icon src="sprites.svg#bug" inline width="48" style="fill:blue" /&gt;
      &lt;icon src="#construction" width="48" height="48" style="fill:pink" /&gt;
      &lt;icon src="#bullhorn" width="48" height="48" style="fill:cyan" /&gt;
      {&#64;icon src="#bug" width=48 height=48 style="fill:orange"}

    p Result:
    import(from='sprites.svg')
    ul.inline
      li: import(from='sprites/bug' style='fill:red')
      li: icon(src='sprites.svg#bug' width=48 height=48 style='fill:green')
      li: icon(inline src='sprites.svg#bug' width=48 style='fill:blue')
      li: icon(src='#construction' width=48 height=48 style='fill:pink')
      li: icon(src='#bullhorn' width=48 height=48 style='fill:cyan')
      li {@icon src="#bug" width=48 height=48 style="fill:orange"}

    p None of these are using `&lt;img src="image.svg"&gt;` so you can <em>fill</em> SVGs

  fieldset
    legend Links

    p Example:
    pre.
      {&#64;alink for="/" text="Home"}
      &lt;alink for="/demo"&gt;Here&lt;/alink&gt;

    p Result:
    ul.inline
      li {@alink for="/" text="Home"}
      li: alink(for='/demo#here')#here Here

    p Use `&lt;alink for="..."&gt;...&lt;/alink&gt;` to render regular links, it'll have `[aria-current=page]` attached if matches the rendered URL

  fieldset
    legend Resources

    p Example:
    |{@source path: "src/resources/scripts/test.js"}

    p Result:
    ul.inline
      li: #target

    p Imported resources would be resolved against built files, also `url(...)` would work

  fieldset
    legend Source-code

    p Example:
    pre.
      {&#64;source path: "../app/index.js"}

    p Result:
    |{@source path: "../app/index.js"}

    p Included source-code have support for diff-syntax, e.g.
    |{@source path: "../app/lib/diff.js"}
