include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    +baseTag

    include ../partials/head

    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)

  body

    block body

    sprite(src='emojis/pkg')
    sprite(src='emojis/bomb')
    image(src='12inches_small')
    icon(src='sprites/emojis/pkg')

    destFile(src='sprites.svg')

    srcFile(src='src/resources/sprites/bug.svg')

    div(style='width:50px')
      svgInline(src='sprites.svg#x-bug')

    svgIcon(src='construction')
    svgIcon(src='bullhorn')
    svgIcon(src='bug')
    svgIcon(src='earth')

    resources

    block scripts
