doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)
    base(href=(ROOT || '') + '/')

    include ../partials/head
  body
    nav #[alink(for='/') Home] | #[alink(for='/demo') Demo] | #[alink(for='/admin') Admin]

    block body
    block scripts
