doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=SOURCE_VERSION)
    base(href=(ROOT || '') + '/')

    include ../partials/head
  body
    nav #[alink(for='/') Home] | #[alink(for='/demo') Demo] | #[alink(for='/other') Other] | #[alink(for='/admin') Admin]

    block body
      != yield

    block scripts
