i[class^="x-sprites-flags-"], i[class*=" x-sprites-flags-"] {
  display: inline-block;
  background-image: url(flags.png);
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 202px 57px;
}

i.x-sprites-flags-jm {
  width: 100px; height: 50px;
  background-position: -102px -0px;
}
i.x-sprites-flags-mx {
  width: 100px; height: 57px;
  background-position: -0px -0px;
}





@media screen and (max-width: 319px) {

}

@media screen and (max-width: 519px) {

}

@media screen and (max-width: 767px) {

}

